.logo {
  margin-right: 2rem;
  width: 10rem;
}

.banner {
  background-color: $brand-primary;
  background-image: image-url("skyline.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 0;
  text-align: center;

  .title {
    margin-bottom: 3rem;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .blurb {
    font-size: 2rem;
  }
}

.section {
  padding: 3rem 0;

  &.section-blue {
    background-color: $theme-blue;
    color: white;

    .section-heading {
      color: white;
    }
  }

  &.section-gray {
    background-color: $theme-gray;
    color: white;

    .section-heading {
      color: white;
    }
  }

  .section-heading {
    color: $theme-red;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;

    &.heading-line {
      &:after {
        content: "";
        width: 65px;
        display: block;
        height: 1px;
        border-bottom: 4px solid $brand-primary;
        text-align: center;
        margin: 10px auto 0;
      }
    }

    &.sub {
      text-align: left;

      &.heading-line {
        &:after {
          margin-left: 0;
        }
      }
    }
  }

  p {
    margin: 2em 0;
  }
}

.telegram-link {
  margin-top: 1em;
}

.qr-code {
  margin-top: 1em;
}

.ruby-companies {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.ruby-company {
  padding: 2em 1em;
  flex: 1 0 21%;
}

.company-logo {
  $logo-size: 100px;

  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: $logo-size;
  width: $logo-size;
  transition: ease 0.3s;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));

  &:hover {
    transform: translateY(5px);
    text-shadow: 1px 1px black;
  }
}

footer {
  border-top: 1px solid;
  padding: 10px;
}

#meet-us {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

#chat-with-us {
  color: $theme-darkblue;
  .section-heading {
    color: $theme-darkblue;
  }
}

#visiting-singapore {
  i.fa {
    font-size: 5em;
    margin: 0 10px;
  }
}
