.logo {
  margin-right: 2rem;
  width: 10rem;
}

.banner {
  background-color: $brand-primary;
  background-image: image-url("skyline.png");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 0;
  text-align: center;

  .title {
    margin-bottom: 3rem;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .blurb {
    font-size: 2rem;
  }
}

.section {
  padding: 3rem 0;

  &.section-blue {
    background-color: $theme-blue;
    color: white;

    .section-heading {
      color: white;
    }
  }

  &.section-gray {
    background-color: $theme-gray;
    color: white;

    .section-heading {
      color: white;
    }
  }

  .section-heading {
    color: $theme-red;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;

    &.heading-with-line:after {
      content: "";
      width: 65px;
      display: block;
      height: 1px;
      border-bottom: 4px solid $brand-primary;
      text-align: center;
      margin: 10px auto 0;
    }

    &.heading-with-line-left {
      text-align: left;

      &:after {
        margin-left: 0;
      }
    }
  }
}

.ruby-companies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  justify-items: center;
  align-items: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
  }
}

.ruby-company {
  min-width: 5em;
  max-width: 5em;
  max-height: 5em;
  margin: 0 1em 2em 1em;

  .company-logo {
    width: 100%;

    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: ease 0.3s;
    -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    -moz-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    -ms-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    -o-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.5));

    &:hover {
      transform: translateY(5px);
      text-shadow: 1px 1px black;
    }
  }
}

footer {
  padding: 10px;
}

#meet-us {
  .section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

#chat-with-us {
  color: $theme-darkblue;
  .section-heading {
    color: $theme-darkblue;
  }
}

#visiting-singapore {
  i.fa {
    font-size: 5em;
    margin: 0 10px;
  }
}
