.jumbotron {
  background: #f5f5f5;
  text-align: center;

  p {
    font-size: 18px;
  }
}

.section {
  margin-bottom: 40px;

  &--heading {
    margin-bottom: 50px;
    text-align: center;
  }

  &--heading h2 {
    display: inline;
    padding: 0 10px;

    background: #e1383f;
    color: white;

    font-size: 2em;
    font-weight: 100;
  }

  i.fa {
    font-size: 8em;
    text-align: center;
  }

  p {
    margin-top: 1em;
  }
}

a {
  color: #fbb040;
  &:hover {
    color: darken(#fbb040, 5%);
  }
}

.jumbotron a,
a.icon {
  color: inherit;

  &:hover {
    text-decoration: none;
    color: #fbb040;
  }
}

footer {
  border-top: 1px solid #eee;
  padding: 10px;
}

#meet-us {
  img.railsgirls {
    margin: 5px 0 4px 0;
  }
}

#visiting-singapore {
  i.fa {
    font-size: 5em;
    margin: 0 10px;
  }
}
