.company {
  background-color: #fff;
  position: relative;

  .company-hiring {
    $size: 72px;

    color: #fff;
    display: inline-block;
    height: $size;
    position: absolute;
    width: $size;
    right: 0;
    top: 0;

    &:before {
      border: $size/2 solid $theme-red;
      border-left-color: transparent;
      border-bottom-color: transparent;
      content: ' ';
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: border 0.3s linear;
      width: 0;

      &:hover {
        $darken-color: darken($theme-red, 10%);
        border-right-color: $darken-color;
        border-top-color: $darken-color;
      }
    }

    .hiring-icon {
      $offset: 10px;

      position: absolute;
      top: $offset;
      right: $offset;
    }
  }

  .company-brand {
    .company-logo {
      $logo-size: 100px;

      background-color: transparent;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: $logo-size;
      width: $logo-size;
    }
  }

  .company-description {
    .company-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .company-address {
      height: 5rem;

      @media (max-width: 768px) {
        height: auto;
        margin-bottom: 5px;
      }
    }
  }
}
