// Colors
$theme-white: white;
$theme-red: #ef233c;
$theme-gray: #2b3c4e;
$theme-black: #1f242a;
$theme-blue: #bfe3ff;
$theme-darkblue: #222529;

$facebook-blue: #3b5998;
$google-plus-red: #dc4e41;
$github-blue: #4078c0;

$brand-primary: $theme-red;
$brand-success: #5cb85c;
$brand-info: $theme-gray;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

// Typography
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

$font-family-sans-serif: 'Poppins', 'Helvetica Neue', Helvetica, sans-serif;
$headings-font-weight: $font-weight-bold;

$font-size-root: 16px;
$font-size-base: 1rem;

// Buttons
$btn-bg: transparent;

$btn-default-bg:                 $btn-bg;
$btn-default-border:             #ccc !default;

$btn-primary-color:              $brand-primary;
$btn-primary-bg:                 $btn-bg;
$btn-primary-border:             $brand-primary;

$btn-success-color:              $brand-success;
$btn-success-bg:                 $btn-bg;
$btn-success-border:             $brand-success;

$btn-info-color:                 $brand-info;
$btn-info-bg:                    $btn-bg;
$btn-info-border:                $brand-info;

$btn-warning-color:              $brand-warning;
$btn-warning-bg:                 $btn-bg;
$btn-warning-border:             $brand-warning;

$btn-danger-color:               $brand-danger;
$btn-danger-bg:                  $btn-bg;
$btn-danger-border:              $brand-danger;

$btn-font-size: 0.8rem;
$btn-padding-x: 24px;
$btn-padding-y: 10px;
